<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="zend-cache Test Suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
        </exclude>
    </groups>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC"/>

        <!-- OB_ENABLED should be enabled for some tests to check if all
             functionality works as expected. Such tests include those for
             Zend\Soap and Zend\Session, which require that headers not be sent
             in order to work. -->
        <env name="TESTS_ZEND_OB_ENABLED" value="false" />

        <!-- Note: the following is a FULL list of ALL POSSIBLE constants
             currently in use in ZF2 for ALL COMPONENTS; you should choose the
             constants appropriate to the component you are migrating. -->

        <env name="TESTS_ZEND_CACHE_COUCHBASE_ENABLED" value="true" />
        <env name="TESTS_ZEND_CACHE_COUCHBASE_HOST" value="127.0.0.1" />
        <env name="TESTS_ZEND_CACHE_COUCHBASE_PORT" value="0" />
        <env name="TESTS_ZEND_CACHE_COUCHBASE_USERNAME" value="" />
        <env name="TESTS_ZEND_CACHE_COUCHBASE_PASSWORD" value="" />
        <env name="TESTS_ZEND_CACHE_COUCHBASE_BUCKET" value="default" />

    </php>
</phpunit>
